{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Graduation Work</title>
    <link rel="stylesheet" href="{% static 'shop/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/main.css' %}">
</head>

<body class="" data-gr-c-s-loaded="true">

{% include 'shop/navbar.html' with categories=categories%}

<main role="main">

    {% block content %}

    {% endblock %}

</main>
<hr>
<footer class="container">
    <p>© Просто магазин 2018</p>
</footer>

<script src="{% static 'shop/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'shop/popper.min.js' %}"></script>
<script src="{% static 'shop/bootstrap.min.js' %}"></script>
</body>
</html>